/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#windBack{
	-fx-background-color: burlywood ;
}
#rectBack{
	-fx-fill: rgba(100, 100, 100, 0.8);
}